# venv
signvenv0/
*.venv/
venv/

# python
__pycache__/
*.pyc

# logs
backend/logs/
logs/
*.log

# large model artifacts and training data
app/ml/vendor/pretrained/

# env secrets
.env

# PyCharm
.idea/



